<ul class="list-unstyled">
  <li class="mb-2">A boring person entertains by watching TV shows and mobile games</li>
  <li class="mb-2">Learned a little trumpet in primary school</li>
  <li class="mb-2">Wish List</li>
  <ul>
    <li class="mb-2">Hope I can learn to compose music</li>
    <li class="mb-2">Hope I can learn to digital painting</li>
    <li class="mb-2">Hope I can learn to cook</li>
    <li class="mb-2">Hope I can learn to take photos</li>
  </ul>
</ul>