<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold">personal website</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ruby | Middleman | HTML |Bootstrap</h6>
    <ul class="card-text">
      <li>Used HTML, CSS, and JavaScript</li>
      <li>Responsive design for mobile and desktop</li>
      <li>Deployed on GitHub Pages</li>
    </ul>
    <a href="#" class="btn btn-outline-primary">View</a>
  </div>
</div>