<ul>
  <li class="mb-2">Programming Languages: Ruby, JavaScript, Python</li>
  <li class="mb-2">Web Development: HTML, CSS, Bootstrap</li>
  <li class="mb-2">Tools & Platforms: Git, GitHub, Visual Studio Code</li>
</ul>