<ul>
  <li class="mb-2">Graduate from OSU in May 2026</li>
  <li class="mb-2">Apply for graduate school for Autumn 2027</li>
  <li class="mb-2">Find a job between May 2026 and Autumn 2027</li>
  <li class="mb-2">Continue learning and improving my skills</li>
</ul>