<ul class="list-unstyled">
  <% data.locales.en[index].lists.each do |list| %>
    <li class="mb-3">
      <strong class="fs-5"><%= list.date %>:</strong>
      <ul>
        <% list.items.each do |item| %>
          <li class="fs-6"><%= item %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>